@font-face {
    font-family: GoodTimes;
    src: url("../../assets/fonts/goodtimes.otf");
}

.Button {
    margin-top: 5px;
    background-color: #fbcd16;
    color: black;
    font-size: larger;
    border-radius: 22px;
    border-style: double;
    border-color: #fbcd16;
    text-shadow: tomato;
    text-shadow: 5px;
    height: 60px;
    width: 700px;
    font-family: GoodTimes;
    font-weight: 900;
    cursor: pointer;
    margin: 5px;
    transition-duration: 1.36s;
    
}

.Button:hover {
    background-color: #fbcd16b9;
    transition-duration: 0.36s;
    border-color: black;
    height: 60px;
    width: 650px;
}

.HelpMark {

    background-color: transparent;
    color: #fbcd16b2;
    font-size: larger;
    font-family: GoodTimes;
    font-weight: 900;
    cursor: pointer;
    margin: 5px;
}

.HelpMark:hover {
    background-color: transparent;
    color: black;
    font-size: larger;
    font-family: GoodTimes;
    font-weight: 900;
    cursor: pointer;
    margin: 5px;
}
